.moudRoundedElement {
    border-radius: 15px !important;
}

.MuiPaper-rounded {
    border-radius: 15px !important;
}

.MuiButton-root {
    border-radius: 15px !important;
}

.MuiOutlinedInput-root {
    border-radius: 15px !important;
}